.App {
  text-align: center;
}

.center {
  display: inline-block;
  margin: 0 auto;
}

p {
  text-align: left;
}

.Table {
  font-family: monospace;
  font-size: 24px;
  user-select: none;
  border: dashed 1px;
}

@for $l from 1 through 50 {
  @for $d from 1 through 50 {
    .complete .row:nth-child(#{$l}) .item:nth-child(#{$d}) {
      animation-name: dot-scaling-one;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: #{($d * 0.1) + (($l - 1) * 0.1)}s;
    }
  }
}

@keyframes dot-scaling-one {
  0% {
    opacity: 0.33;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.33;
  }
}

@for $l from 1 through 50 {
  .row:nth-child(#{$l}) {
    animation: fadein #{($l - 1) * 0.1}s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.selected {
  background-color: #66CCCC
}

.keyboard {
  margin: 0 auto;
  width: 500px;
}

.blue {
  color: blue;
  border-color: black;
}

.disabled {
  background-color: lightgrey !important;
}

.Table .box {
  background-color: black;
  /* color: white; */
}

.disabled_ans {
  background-color: lightblue !important;
}

/* .row {
  line-height: 1
} */