.App {
  text-align: center;
}

.desc {
  width: fit-content;
  margin: 16px auto;
}

.desc p {
  text-align: left;
  white-space: pre;
}

.cw-board {
  outline: solid 3px;
  outline-offset: -1px;
  width: fit-content;
  margin: 16px auto;
}

.cw-row {
  width: fit-content;
}

.cw-cell {
  font-family: monospace;
  font-size: 24px;
  user-select: none;
  border: dashed 1px;
}

.cw-cell_selected {
  background-color: #66CCCC
}

.solved .cw-cell_selected {
  background-color: transparent
}

.cw-cell_color-ans {
  color: blue;
  border-color: black;
}

@for $l from 1 through 50 {
  @for $d from 1 through 50 {
    .solved .cw-row:nth-child(#{$l}) .cw-cell:nth-child(#{$d}) {
      animation-name: dot-scaling-one;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: #{($d * 0.1) + (($l - 1) * 0.1)}s;
    }
  }
}

@keyframes dot-scaling-one {
  0% {
    opacity: 0.33;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0.33;
  }
}

@for $l from 1 through 50 {
  .cw-row:nth-child(#{$l}) {
    animation: fadein #{($l - 1) * 0.1}s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.solved .show-before-clear {
  display: none;
}

.show-after-clear {
  display: none;
}

.solved .show-after-clear {
  display: block;
}

.keyboard {
  margin: 16px auto;
  width: 500px;
}

.disabled_hint {
  background-color: lightgrey !important;
}

.disabled_ans {
  background-color: lightblue !important;
}